# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documentation / Approach
APPROACH.md
